<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <!-- <link rel="stylesheet" href="style.css"> -->
</head>
<style>
body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'sans-serif';
}

.main{
    height:18.0em;
    width:18.5em;
    padding:1em;
    border-radius:0.5em;
    display: block;
    border:0.1rem rgb(39, 39, 39) solid;
}
.enter-text{
    margin-top:0.3em;
    margin-bottom: 1em;
    width:calc(100% - 16px);
    padding: 0.5em;
}
.enter-click{
    margin-top:1em;
    padding:0.5em;
    width:100%;
}
</style>
<body>
<div class="main">
    <h3 style="text-align: center;">Sign-in</h3>
    <span>username</span>
    <input id="username" class="enter-text" type="text">
    <span>password</span>
    <input id="password" class="enter-text" type="text">
    <button class="enter-click" >click me </button>
    <h5 style="text-align: center;"><a href="signup.html">Sign-up</a></h5>
</div>
</body>
<script>
const button = document.querySelector(".enter-click")
const base = "http://localhost:5112"
const base_host = "sign-in"

button.addEventListener("click",login) 



function login(){

    const username = document.querySelector("#username").value
    const password = document.querySelector("#password").value

    const url = new URL(base_host,base)
    url.searchParams.append("email",username)
    url.searchParams.append("password",password)

    appendreturnurl(url)

    window.location = url

    //console.log(url)

}

function appendreturnurl(location){
   
    let url = new URL(window.location)
    const item = url.searchParams.get("ReturnUrl")

    if( item != null){

        location.searchParams.append("ReturnUrl",item)

    }

}

</script>
</html>